* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Source Serif 4', serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #A54328;
}

main {
  width: 90%;
  max-width: 32rem;
  margin: 0 auto;
  padding-block: 5.4rem;
}

h1, h2 {
  font-size: 2.8rem;
  font-weight: 700;
}

h2 {
  margin-top: 3.4rem;
  margin-bottom: 3.6rem;
}

img {
  width: 100%;
  margin-block: 4.6rem;
}

p,
li,
strong {
  font-size: 1.4rem;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

ul,
ol {
  padding-left: 2.4rem;
}

ul {
  margin-bottom: 3.2rem;
}

button {
  margin-top: 1.8rem;
  padding: .8rem 1.2rem;
  font-family: 'Source Serif 4', serif;
  font-size: .992rem;
  font-weight: 500;
  line-height: 1.7rem;
  border: none;
  border-radius: .6rem;
  color: #FFF;
  background-color: #A54328;
  transition: all 0.5s ease;
}

button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    background-image: url(./assets/background.jpg);

  }
  
  main {
    width: 100%;
    max-width: 52.5rem;
    padding-block: 9.6rem;
  }

  h1, h2 {
    font-size: 4rem;
    font-weight: 700;
  }

  img {
    width: 43.5rem;
    margin: 6.6rem 4.5rem;
  }

  p,
  li,
  strong {
    font-size: 2rem;
  }

  ul,
  ol {
    padding-left: 2.8rem;
  }

  button {
    width: 13.3rem;
    height: 4.5rem;
    margin-top: 2.4rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    border-radius: .8rem;
  }
}

@media (min-width: 1440px) {
  main {
    display: flex;
    justify-content: center;
    column-gap: 18.9rem;
    max-width: 100%;
  }

  .recipe {
    max-width: 43.5rem;
  }

  .recipe img {
    margin-inline: 0;
  }

  .ingredients {
    max-width: 52.5rem;
  }

  .ingredients h2 {
    margin: 0 0 5.1rem;
  }

  .ingredients ul {
    margin-bottom: 2.4rem;
  }
}